<nav class="navbar" style="background-color:#FF5733">
<a class="logo">Leboncoin</a>
<label for="btn" class="icon">
    <svg viewBox="0 0 100 80" width="40" height="40">
        <rect width="100" height="15"></rect>
        <rect y="35" width="100" height="15"></rect>
        <rect y="70" width="100" height="15"></rect>
    </svg>
</label>
<input type="checkbox" id="btn">
<ul class="nav-menu" style=" background-color:#FF5733">
    <li class="nav-item">
        <a href="#">Accueil</a>
    </li>
    <li class="nav-item">
        <a href="#">Articles</a>
    </li>
    <li class="nav-item">
        <a href="#">Contact</a>
    </li>
    <li class="nav-item">
        <label for="btn2" class="show">Mon compte +</label>
        <input type="checkbox" id="btn2">
        <ul class="dropdown">
            <li class="drop-item">
                <a href="#">Mon Profil</a>
            </li>
            <li class="drop-item">
                <a href="#">Articles</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="#">Déconnexion</a>
    </li>
</ul>
</nav>    
	<section class="d-flex">
