{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="card" style="width: 18rem; border:1px solid #000 ;border-radius:8px">
  <img src="https://picsum.photos/200/300" class="card-img-top"style="width:100%; height:250px" alt="...">
  <div class="card-body">
    <h5 class="card-title " style= "text-align:center">Card title</h5>
    <p class="card-text" style= "padding:0 10px">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<p style= "text-align:center"> 5€ </p>
    <a href="#" class="btn btn-primary">Détails</a>
  </div>
</div>
{% endblock %}
