{% extends 'base.html.twig' %}

{% block body %}


	<main class="container">
		<div style="display-flex row">
			<section class="row">
				<div>
					<h1>
						Leboncoin</h1>
					<P>Top catégories</p>
				</div>

				{% for annonce in annonces %}
					{% if annonce.Category == null %}
						<div class="col-12">
							<h2>{{annonce.Category}}</h2>
						{% else %}
							<div class="col-3">
								<div class="card h-100" style="border: solid 1px ">
									<img class="card-img-top" src="https://picsum.photos/id/1/200/300" alt="Card image cap">
									<div class="card-body">
										<h3 class="card-title">{{annonce.Category}}</h3>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
										<a href="#" class="btn btn-primary">
											<a href="#">voir annonce</a>
										</div>
									</div>

								</div>
							{% endif %}
						</div>


					{% endfor %}

					<div class="col-12"></div>


				</section>
			</div>
		</main>
	{% endblock %}
